*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#000;
    color:white;
}

/* Navbar */
nav{
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
    position:absolute;
    width:100%;
    z-index:10;
}

.logo{
    color:red;
    font-size:28px;
    font-weight:bold;
}

nav button{
    padding:8px 18px;
    background:red;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

/* Hero */
.hero{
    height:90vh;
    background:url('https://images.unsplash.com/photo-1524985069026-dd778a71c7b4') no-repeat center/cover;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero-content{
    background:rgba(0,0,0,0.6);
    padding:40px;
    border-radius:10px;
}

.hero button{
    margin-top:15px;
    padding:10px 25px;
    border:none;
    background:red;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

/* Movies */
.movies{
    padding:40px;
}

.row{
    display:flex;
    gap:15px;
    overflow-x:auto;
}

.row img{
    width:200px;
    border-radius:5px;
    transition:0.3s;
    cursor:pointer;
}

.row img:hover{
    transform:scale(1.1);
}
